body{
}
.container{
    max-width: 100%;
}
.container .top-bar div{
    
    border:solid 0px;
    border-radius: 4px;
    position: relative;
    border-color: black;
    border-width:0;
    transition: 0.5s;
}
span{
    background: #009688;
    height:100%;
    width: 0;
    border-radius:25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1;
    transition: 0.5s;
 
}
.container>.top-bar>div:hover span{
    width:100%;
}
.container>.top-bar>div:hover{
    
    border:solid 1px;
    border-radius: 25px;

}
.container>.top-bar{
    position:sticky;
    
    align-items: center ;
    background: rgba(6, 239, 225, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(6, 239, 225, 1);
    justify-content:space-around ;
    display:flex;
}
.container>.top-bar>div>a{
    color: black;
    text-decoration: none;
}

.container>.top-bar>div{
        
    align-items: center;
    text-align: center;
    
    
    flex:1;
    
    
}
.container>div>.home-tab,.container>div>.rules-tab{
    flex:2;
}



.container>#home>div{
    
background: rgba(232, 255, 254, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
border: 1px solid rgba(232, 255, 254, 1);
}

.container>.rooms{
  background-image: url("hostel6.jpg");  
  background-position: cover;
  background-attachment: fixed;
}
.container>#home>.homedesc{
   color:#f5f5f5;
    background:url("hostel7.jpg");
    background-position: cover;
    background-attachment: fixed;
}
.container>#booking{
    background-image: url("hostel8.jpg");
    background-position: cover;
    background-attachment: fixed;
}
.container>#booking>.loginpad{
 align-items: center;   
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13px);
-webkit-backdrop-filter: blur(13px);
border: 1px solid rgba(255, 255, 255, 1);
}